@media screen and (max-width: 1280px){

}
@media screen and (max-width: 970px){
    
    .header, .container, .blog, .adicionales{
        flex-direction: column;
    }
}
@media screen and (max-width: 767px){

    .header, .container, .blog, .adicionales{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px){

    .header, .container, .blog, .adicionales{
        flex-direction: column;
    }
}
@media screen and (max-width: 400px){

    .header, .container, .blog, .adicionales{
        flex-direction: column;
    }
}